# Hardhat networks
PRIVATE_KEY=
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY=

# Deploy params
NFT_NAME=BaseNFT
NFT_SYMBOL=BNFT
ROYALTY_RECEIVER=
ROYALTY_FEE=500
FEE_RECIPIENT=
FEE_BPS=250

# Smoke
TOKEN_URI=ipfs://example
